{% extends "base_generic.html" %}
{% load static %}

{% block title %}<title>Login</title>{% endblock %}

{% block head_extra %}
  <link rel="stylesheet" href="{% static "styles/login.css" %}">
  <link rel="stylesheet" href="{% static 'styles/general.css' %}">
{% endblock %}

{% block main %}
    <main class="form-control-medium" id="content">

        <div class="auth">
            
            <div class="auth__body">
              <form class="auth__form" autocomplete="off" method="post" action="{% url 'login' %}">
                {% csrf_token %}

                {% if form.errors %}
                    {% for field in form %}
                    {% for error in field.errors %}
                        <div class="alert alert-danger" role="alert">
                        {{ error|escape }}
                        </div>
                    {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ error|escape }}
                    </div>
                    {% endfor %}
                {% endif %}

                <div class="auth__form_body">
                  <h3 class="auth__form_title">Вход</h3>
                  <div>
                    <div class="form-floating mb-1">
                      {{ login.username }}
                        <label for="id_email">Почта:</label>
                    </div>
                    <div class="form-floating mb-1">
                      {{ login.password }}
                        <label for="id_password">Пароль:</label>
                      <a class="mt-2" href="#" data-toggle="modal" data-target="#exampleModalPassword" data-whatever="@mdo">Забыли пароль?</a>
                    </div>
                  </div>
                </div>
                <div class="auth__form_actions">
                  <button type="submit" class="btn btn-primary btn-lg btn-block">
                    Войти
                  </button>
                  
                  <div class="dropdown show">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Нет аккаунта?Зарегестрируйтесь!
                    </a>
                  
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                      <h6 class="dropdown-header">Выерите свой тип</h6>
                      <a class="dropdown-item" href="#" data-toggle="modal" data-target="#exampleModalLegal" data-whatever="@mdo">Юридическое лицо</a>
                      <a class="dropdown-item" href="#" data-toggle="modal" data-target="#exampleModalPhysic" data-whatever="@mdo">Физическое лицо</a>
                    </div>

                </div>
              </form>
            </div>
          </div>
          
          {% include "modal/register_legal.html" %}
          {% include "modal/register_physical.html" %}
          {% include "modal/password_reset.html" %}

          <script>
            $('#myModal').on('shown.bs.modal', function () {
                $('#myInput').trigger('focus')
            })
          </script>

    </main>
{% endblock %}
{% block script %}

<script src="{% static 'js/form_validation.js' %}"></script>

<!--    <script>-->
<!--        $(function ($) {-->
<!--            $('#form_ajax').submit(function (e) {-->
<!--                e.preventDefault()-->
<!--                console.log(this)-->
<!--                $.ajax({-->
<!--                    type: this.method,-->
<!--                    url: this.action,-->
<!--                    data: $(this).serialize(),-->
<!--                    dataType: 'json',-->
<!--                    success: function (response) {-->
<!--                        console.log('ok - ', response)-->
<!--                    },-->
<!--                    error: function (response) {-->
<!--                        console.log('err - ', response)-->
<!--                    }-->
<!--                })-->
<!--            })-->
<!--        })-->
<!--    </script>-->

{% endblock %}