{% extends "base_generic.html" %}

{% block title %}<title>Register</title>{% endblock %}

{% block main %}
    {% if validlink %}
        <main class="form-control-small">
    {% else %}
        <main class="form-control-medium">
    {% endif %}

        {% if not validlink %}
            <div class="bg-warning bg-opacity-75">
                <h1>Password reset failed</h1>
                <p>The password reset link was invalid, possibly because it has already been used. Please request a new
                    password reset.</p>
            </div>
        {% else %}
            <div class="rounded-pill bg-warning bg-opacity-75">
                {{ form.new_password1.errors }}
                {{ form.new_password2.errors }}
            </div>
            <form method="post" action="">
                {% csrf_token %}
                <h1 class="h3 mb-3 fw-normal">Введите новый пароль</h1>

                {{ form }}

                <button class="mt-1 btn btn-lg btn-primary" type="submit" value="Change my password">
                    Изменить пароль
                </button>
            </form>
        {% endif %}
    </main>
{% endblock %}

