{% extends "base_generic.html" %}
{% load static %}

{% block title %}<title>TiM - время деньги</title>{% endblock %}
{% block head_extra %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
{% endblock %}

{% block body_class %}{% endblock %}
{% block main %}
    <main class="main-block container" id="content">
        <!-- приветственный блок -->
        <div class="main-block container scroll-active">
            <div class="row flex-lg-row-reverse g-5">
                <div class="col-12 col-sm-12 col-lg-5">
                    <div class="w-100 d-flex justify-content-center align-items-center">
                        <img src="/static/images/main-block.png" class="d-block img-fluid main-block-image"
                             alt="" loading="lazy"/>
                    </div>
                </div>
                <div class="col-lg-7 main-block-item">
                    <h1 class="main-block-title">
                        Давайте знакомиться!<br/>
                        Меня зовут <span>TiM</span>
                    </h1>
                    <p class="lead main-block-text">
                        сокращенно от английского выражения Time is Mоnеy,<br/>
                        вы все знаете наверняка, что это означает: Время – деньги.<br/>
                        Что я умею? Сокращать расходы, оптимизировать <br/>
                        временные затраты и увеличивать ваши доходы.<br/>
                        Как я это делаю? Сейчас расскажу.
                    </p>
                </div>
            </div>
        </div>
        <!-- первый блок -->
        <div class="one-block container scroll-active">
            <div class="row">
                <h1 class="text-center">
                    Как это работает?
                </h1>
            </div>
            <div class="main-block row margin-one-block">
                <div class="col-md-6 d-flex align-items-center order-md-2">
                    <p class="lead">
                        В наш 21 век, мало кто из нас не задумывался, как можно было бы
                        сократить значительную часть времени на разного рода бюрократические
                        процедуры, доставшиеся нам еще из прошлой эпохи. Каждый из нас,
                        посещал и посещает различного рода учреждения – фитнес центры,
                        нотариусов, адвокатов, туристические агентства, косметологические
                        кабинеты, диагностические центры, офисы центров госуслуг, типа «Мои
                        документы», прокатные конторы, банки, и множество других учреждений
                        и организаций. И каждый раз нам приходиться подолгу сидеть и ждать,
                        когда сотрудники этих учреждений заполнят кучу необходимых
                        документов (договора, согласие на обработку персональных данных,
                        заявления, ходатайства и множество иных документов), перенося в
                        практически готовые шаблоны ваши персональные данные. В среднем, по
                        нашим наблюдениям на такие процедуры тратиться от 5 до 20 минут на
                        одного клиента.
                    </p>
                </div>
                <div class="col-md-6 order-md-1">
                    <img
                            class="blok-img"
                            src="/static/images/blok1.png"
                            alt=""
                    />
                </div>
            </div>
        </div>

        <div class="one-block container scroll-active">

            <div class="row">
                <div class="col-md-6 d-flex align-items-center">
                    <p class="lead">
                        А ведь это время, мы можем потратить с гораздо большей пользой. Но я
                        полезен не только клиентам этих учреждений, в первую очередь я буду
                        полезен самим организациям и учреждениям, позволяя им значительно
                        экономить время, а значит и деньги, увеличивая поток клиентов, либо
                        же сокращая штат сотрудников, занимающихся низкоквалифицированной
                        работой по заполнению бланков и шаблонов готовых документов,
                        персональными данными. Вся моя прелесть в том, что в данном случае я
                        по-настоящему применяю стратегию Win-Win, когда выгода обоюдная и
                        по-настоящему ощутимая для обеих сторон. А теперь давайте подробнее
                        о том, как все это работает.
                    </p>
                </div>
                <div class="col-md-6 order-md-1">
                    <img
                            class="blok-img blok-img-personal"
                            src="/static/images/blok1-pic2.png"
                            alt=""
                    />
                </div>
            </div>
        </div>
        <!-- второй блок -->
        <div class="two-block container scroll-active">
            <div class="row margin-two-block">
                <div class="col-md-6 d-flex align-items-center order-md-2">
                    <p class="lead">
                        <span class="color-span bold">ТиМ</span> состоит из двух частей. Первое – мобильное приложение,
                        которое
                        устанавливается на смартфон клиента пользователя, где хранятся все его персональные данные –
                        Фамилия,
                        Имя, Отчество, дата рождения, номер серия паспорта, <span class="bold">СНИЛС, ОСАГО, КАСКО, свидетельство о рождении, данные водительского удостоверения</span>
                        и множество других документов, которые ему иногда приходиться предоставлять в ту или иную
                        организацию.<br><br>

                        <span class="bold"><span
                                class="color-span upper ">Внимание,</span> все эти данные хранятся <span
                                class="upper">только</span> на мобильном устройстве пользователя, ни на каком сервере, который можно было бы взломать и украсть эти данные их нет!</span><br><br>
                        {% if user.is_authenticated %}
                            Вторая часть – это <a href={% url "personal_cabinet" %}>плагин для текстового редактора World</a> и скоро появиться версии и для других
                            текстовых
                            редакторов, может даже по вашему запросу, если вы пользуетесь иными текстовыми редакторами на
                            которых
                            подготавливаете документы.
                        {% else %}
                            Вторая часть – это <a href={% url "login" %}>плагин для текстового редактора World</a> и скоро появиться версии и для других
                            текстовых
                            редакторов, может даже по вашему запросу, если вы пользуетесь иными текстовыми редакторами на
                            которых
                            подготавливаете документы.
                        {% endif %}
                    </p>
                </div>
                <div class="col-md-6 order-md-1">
                    <img
                            class="blok-img"
                            src="/static/images/blok2.png"
                            alt=""
                    />
                </div>
            </div>
        </div>
        <!-- третий блок -->
        <div class="three-block container scroll-active">
            <div class="row margin-three-block">
                <div class="col-md-6 ">
                    <p class="lead">
                        Работа плагина очень проста. При его скачивании, вам присылается ваш персональный QR код. В
                        документе,
                        там где требуется внести те или иные персональные данные клиента, с помощью нашего плагина, вы
                        оставляете именные пропуски (например, если вам нужна фамилия клиента, то вы вставляете пропуск
                        с
                        названием «фамилия»), после чего клиент, просто наводит камеру своего смартфона на ваш QR код, у
                        него
                        открывается приложение <span class="color-span">TiM</span> и далее, появляется уведомление, что
                        (к
                        примеру) нотариус города Москвы, Иванов Иван Иванович просит предоставить ему следующие ваши
                        персональные данные – фамилия имя отчество, дату рождения, место рождения, гражданство, адрес
                        регистрации, номер паспорта.
                    </p>
                    <p class=" mt-5 lead-personal">
                        И далее две кнопки – поделиться\отказать. Когда клиент нажимает кнопку – поделиться, все
                        персональные
                        данные, которые были затребованы, тут же оказываются в документе, остается его распечатать и
                        дать на
                        подпись.
                    </p>
                </div>
                <div class="col-md-6 order-md-1">
                    <img
                            class="blok-img"
                            src="/static/images/blok3.png"
                            alt=""
                    />
                </div>
            </div>
        </div>
        <!-- четвертый блок -->
        <div class="four-block container scroll-active">
            <div class="row margin-four-block">
                <div class="col-md-6 order-md-2">
                    <p class="lead">
                        Преимущества достаточно очевидны для всех. Для клиентов – сокращается время ожидания в очереди и
                        время,
                        затраченное на заполнение документов, для организации, это прежде всего оптимизация расходов на
                        низкоквалифицированный персонал, увеличение трафика клиентов, а главное – это удовольствие
                        клиентов,
                        которые значительно сокращают свое драгоценное время на бюрократические, но необходимые
                        процедуры.
                    </p>
                    <br>
                    <p class="lead">
                        Предварительные расчеты показывают, что к примеру в крупном диагностическом центре, где
                        задействовано
                        порядка 10 операторов, заполняющих стандартные документы (договор на оказание услуг, согласие на
                        обработку персональных данных и т.д.), с помощью <span class="color-span">ТиМа,</span> можно
                        сократить
                        персонал в двое, пропускная способность, таких организаций как - нотариусы, за счет оптимизации
                        времени
                        на заполнение документов, вырастает как минимум в три раза. А уровень довольства клиента от
                        удобства
                        и
                        экономии его времени, это вообще трудно измерить.
                    </p>
                </div>
                <div class="col-md-6 order-md-1">
                    <img
                            class="blok-img"
                            src="/static/images/blok4.png"
                            alt=""
                    />
                </div>
            </div>
        </div>
        <!-- <script>
            $(".scrollto a").on("click", function () {

                let href = $(this).attr("href");

                $("html, body").animate({
                    scrollTop: $(href).offset().top
                }, {
                    duration: 370,   // по умолчанию «400»
                    easing: "linear" // по умолчанию «swing»
                });

                return false;
            });
        </script> -->

        <script>
            function onEntry(entry) {
                entry.forEach(change => {
                    if (change.isIntersecting) {
                        change.target.classList.add('element-show');
                    } 
                });
                }
                let options = { threshold: [0.5] };
                let observer = new IntersectionObserver(onEntry, options);
                let elements = document.querySelectorAll('.scroll-active');
                for (let elm of elements) {
                observer.observe(elm);
                }
        </script>
    </main>
{% endblock %}