<div class="table-container table-responsive">
    <table class="table table-hover table-bordered align-middle">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Document count</th>
            <th scope="col">Unique users attracted</th>
            <th scope="col">Plugin id</th>
            <th scope="col">Plugin secret</th>
            <th scope="col"> Valid until date</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>PC1</td>
            <td>0</td>
            <td>0</td>
            <td>c8a27af7-386b-4002-aaa0-0197f3186ac5</td>
            <td>16e9e752-1181-4f11-add2-bda25326f80f</td>
            <td>02/23/2023</td>
        </tr>
        <tr>
            <td>PC2</td>
            <td> 0</td>
            <td>0</td>
            <td> 1db19a40-4651-4163-8207-433629c9c66b</td>
            <td> fb3a8f34-52b1-4a4c-9d93-d51c96109361</td>
            <td class="bg-warning"> 02/23/2023</td>
        </tr>
        <tr>
            <td> PC3</td>
            <td> 0</td>
            <td> 0</td>
            <td> a2a82080-7155-45f1-8e27-eb54da534806</td>
            <td> 1fa0a62d-985d-4c0c-90d8-07343a5f7938</td>
            <td> 02/23/2023</td>
        </tr>
        </tbody>
    </table>
</div>