<div class="modal fade" id="exampleModalPassword" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Создание плагина</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form method="post" action="{% url "personal_cabinet_add" %}">
            <div class="modal-body">
                <small class="d-flex align-items-left">Пожалуйста, введите имя плагина:</small>

                <div class=" form-floating mb-1">
                    {{ add_plugin.name }}
                    <label for="id_name">Email:</label>
                </div>
                {% csrf_token %}    

            </div>
            <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Скачать</button>
            </div>
        </form>
      </div>
    </div>
  </div>