<!-- Модальное окно для восстановления пароля -->
<div class="modal fade" id="exampleModalPassword" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Восстановление пароля</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form method="post" action="{% url 'password_reset' %}" id="formValidation">
            <div class="modal-body">
                <div class="form-floating mb-1">

                    {{ password_reset.email }}
                    <label for="id_email">Введите email, указанный при регистрации:</label>
                </div>
                {% csrf_token %}    

            </div>
            <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Отправить</button>
            </div>
        </form>
      </div>
    </div>
  </div>