<!-- Модальное окно для физического лица -->
<div class="modal fade" id="exampleModalPhysic" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Физическое лицо</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form method="post" action="{% url 'register_physical' %}">
            <div class="modal-body">

                {{ register_physical }}
                {% csrf_token %}    

            </div>
            <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Регистрация</button>
            </div>
        </form>
      </div>
    </div>
  </div>