<!-- Модальное окно для юридического лица -->
<div class="modal fade" id="exampleModalLegal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Юридическое лицо</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form method="post" action="{% url 'register_legal' %}">
            <div class="modal-body">

                {{ register_legal }}
                {% csrf_token %}    

            </div>
            <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Регистрация</button>
            </div>
        </form>
      </div>
    </div>
  </div>